@import "fonts";
@import "mq";
@import "palette";
// @import "share";
// @import "page";
@import "enhancer";

.interactive-atom {
  margin: 0;
  padding: 0;
}
.interactive-body {
  position: relative;
  p {
    @include fs-bodyCopy(2);
    color: $neutral-7;
  }
}

.content__main-column--interactive {
  & > p,
  & > h2,
  & > ul,
  & > sub,
  .gv-main-column {
    max-width: 620px;

    @include mq(leftCol) {
      margin-left: 160px;
    }
    @include mq(wide) {
      margin-left: 240px;
    }
  }
}

.interactive-atom {
  h3 {
    @include fs-titlepiece(1);
  }

  h4 {
    @include fs-headline(4);
    font-weight: 200;
    font-style: italic;
    @include mq(tablet) {
      @include fs-headline(5);
      font-weight: 200;
    }
  }
}

.section {
  &-copy {
    max-width: 540px;

    @include mq(tablet) {
      min-height: 338px;
    }

    @include mq(leftCol) {
      margin-left: 140px;
    }
    @include mq(wide) {
      margin-left: 240px;
    }
  }
  &-header {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;

    &:before {
      content: "";
      height: 1px;
      width: calc(100% + 30px);
      position: absolute;
      top: 0px;
      left: -20px;
      background-color: $neutral-86;
      @include mq(mobileLandscape) {
        width: calc(100% + 40px);
      }
    }
    &:after {
      content: "";
      height: 1px;
      width: calc(100% + 30px);
      position: absolute;
      bottom: 0px;
      left: -20px;
      background-color: $neutral-86;
      @include mq(mobileLandscape) {
        width: calc(100% + 40px);
      }
    }

    @include mq(tablet) {
      flex-direction: row;
    }
  }
  &-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

.gv-navs {
  margin: 20px 0 10px 0;
  .gv-nav {
    display: inline-block;
    color: #fff;
    background-color: #121212;
    @include fs-textSans(3);
    font-weight: 600;
    border-radius: 44px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
