@import "fonts";
@import "mq";
@import "palette";
// @import "share";
// @import "page";
@import "enhancer";

.interactive-atom {
  margin: 0;
  padding: 0;
}
.interactive-body {
  position: relative;
  p {
    @include fs-bodyCopy(2);
    color: $neutral-7;
  }
}