<div class="interactive-wrapper">
      <div class="interactive-body gv-main-column">
        {{#copy}}
        <p>{{.}}</p>
        {{/copy}}

        <div class="gv-navs">
          {{#navs}}
          <div class="gv-nav" data-anchor="{{anchor}}">{{nav}}</div>
          {{/navs}}
        </div>
      </div>
      <div class="section section-one section-{{anchor1}}">
        <div class="section-header">
          <div class="section-copy">
            <h3>{{header1}}</h3>
            <h4>{{quote1}}</h4>
          </div>
          <img class="section-image" src="<%= path %>/images/grief.png" alt="">
        </div>
        {{#copy2}}
        <p>{{{.}}}</p>
        {{/copy2}}
        {{>graphic1}}
      </div>
    </div>
  </div>