<div class="interactive-wrapper">
      <div class="interactive-body gv-main-column">
        {{#copy}}
        <p>{{.}}</p>
        {{/copy}}

        <div class="gv-navs">
          {{#navs}}
          <div class="gv-nav" data-anchor="{{anchor}}">{{nav}}</div>
          {{/navs}}
        </div>

      </div>
      <div class="section section-one section-{{anchor1}}" data-anchor="{{anchor1}}">
        <div class="section-header">
          <div class="section-copy">
            <h3>{{header1}}</h3>
            <h4>{{quote1}}</h4>
          </div>
          <img class="section-image" src="<%= path %>/images/grief.png" alt="">
        </div>
        <div class="interactive-body gv-main-column">
          {{#copy1}}
          <p>{{{.}}}</p>
          {{/copy1}}
          {{#copy2}}
          <p>{{{.}}}</p>
          {{/copy2}}
          <div class='subhead'>{{subhead1}}</div>
          {{#copy3}}
          <p>{{{.}}}</p>
          {{/copy3}}
          <div class='subhead'>{{subhead2}}</div>
          {{#copy4}}
          <p>{{{.}}}</p>
          {{/copy4}}
          {{#copy5}}
          <p>{{{.}}}</p>
          {{/copy5}}
          {{>graphic1}}
          {{>dropdown}}
        </div>
      </div>
      <div class="section section-two section-{{anchor2}}" data-anchor="{{anchor2}}">
        <div class="section-header">
          <div class="section-copy">
            <h3>{{header2}}</h3>
            <h4>{{quote2}}</h4>
          </div>
          <img class="section-image" src="<%= path %>/images/anxiety.png" alt="">
        </div>
        <div class="interactive-body gv-main-column">
          {{#copy6}}
          <p>{{{.}}}</p>
          {{/copy6}}
          <div class='subhead'>{{subhead3}}</div>
          {{#copy7}}
          <p>{{{.}}}</p>
          {{/copy7}}
          <div class='subhead'>{{subhead4}}</div>
          {{#copy8}}
          <p>{{{.}}}</p>
          {{/copy8}}
          <div class='subhead'>{{subhead5}}</div>
          {{#copy9}}
          <p>{{{.}}}</p>
          {{/copy9}}
          {{>dropdown}}
        </div>
      </div>
      <div class="section section-three section-{{anchor3}}" data-anchor="{{anchor3}}">
        <div class="section-header">
          <div class="section-copy">
            <h3>{{header3}}</h3>
            <h4>{{quote3}}</h4>
          </div>
          <img class="section-image" src="<%= path %>/images/loneliness.png" alt="">
        </div>
        <div class="interactive-body gv-main-column">
          {{#copy10}}
          <p>{{{.}}}</p>
          {{/copy10}}
          <div class='subhead'>{{subhead6}}</div>
          {{#copy11}}
          <p>{{{.}}}</p>
          {{/copy11}}
          <div class='subhead'>{{subhead7}}</div>
          {{#copy12}}
          <p>{{{.}}}</p>
          {{/copy12}}
          <div class='subhead'>{{subhead8}}</div>
          {{#copy13}}
          <p>{{{.}}}</p>
          {{/copy13}}
          {{>dropdown}}
        </div>
      </div>
      <div class="section section-four section-{{anchor4}}" data-anchor="{{anchor4}}">
        <div class="section-header">
          <div class="section-copy">
            <h3>{{header4}}</h3>
            <h4>{{quote4}}</h4>
          </div>
          <img class="section-image" src="<%= path %>/images/grief.png" alt="">
        </div>
        <div class="interactive-body gv-main-column">
          {{#copy14}}
          <p>{{.}}</p>
          {{/copy14}}
          <div class='subhead'>{{subhead9}}</div>
          {{#copy15}}
          <p>{{{.}}}</p>
          {{/copy15}}
          <div class='subhead'>{{subhead10}}</div>
          {{#copy16}}
          <p>{{{.}}}</p>
          {{/copy16}}
          <div class='subhead'>{{subhead11}}</div>
          {{#copy17}}
          <p>{{{.}}}</p>
          {{/copy17}}
          {{>dropdown}}
        </div>
      </div>
      <div class="section section-five section-{{anchor5}}" data-anchor="{{anchor5}}">
        <div class="section-header">
          <div class="section-copy">
            <h3>{{header5}}</h3>
            <h4>{{quote5}}</h4>
          </div>
          <img class="section-image" src="<%= path %>/images/mental-health.png" alt="">
        </div>
        <div class="interactive-body gv-main-column">
          {{#copy18}}
          <p>{{{.}}}</p>
          {{/copy18}}
          {{>dropdown}}
        </div>
      </div>
    </div>
  </div>