<div class="interactive-wrapper">
      <div class="interactive-body gv-main-column">
        {{#copy}}
        <p>{{.}}</p>
        {{/copy}}

        <div class="gv-navs">
          {{#navs}}
          <div class="gv-nav" data-anchor="{{anchor}}">{{nav}}</div>
          {{/navs}}
        </div>
      </div>
      <div class="section section-one section-{{anchor1}}">
        <div class="section-header">
          <div class="section-copy">
            <h3>{{header1}}</h3>
            <h4>{{quote1}}</h4>
          </div>
          <img class="section-image" src="<%= path %>/images/grief.png" alt="">
        </div>
        <div class="interactive-body gv-main-column">
          {{#copy2}}
          <p>{{{.}}}</p>
          {{/copy2}}
        </div>
      </div>
      <div class="section section-two">
        <div class="section-header">
          <div class="section-copy">
            <h3>{{header2}}</h3>
            <h4>{{quote2}}</h4>
          </div>
          <img class="section-image" src="<%= path %>/images/grief.png" alt="">
        </div>
        <div class="interactive-body gv-main-column">
          {{#copy3}}
          <p>{{{.}}}</p>
          {{/copy3}}
        </div>
      </div>
    </div>
  </div>